body {
  background-color: #f4f6f7;
}

/* navbar */

#custom-nav {
  box-shadow: 5px 5px 50px #9b9292;
}

.logoimg {
  height: 60px;
}
@media only screen and (max-width: 767px) {
  .logoimg {
    height: 80px;
  }
}

.pad {
  padding-bottom: 15px;
  flex-direction: column;
}

.kitname {
  padding-top: 15px;
  font-size: 20px;
  font-weight: 900;
}

@media only screen and (max-width: 767px) {
  .kitname {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .logoutbut {
    margin-left: 180px;
  }
}

/*login panel */

.loginpanel {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 8%;
  box-shadow: 6px 9px 20px 0px;
}

@media only screen and (max-width: 767px) {
  .loginpanel {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
  }
}

/* signuppanel */

.signuppanel {
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 6px 9px 20px 0px;
  margin-top: 3%;
  margin-bottom: 6%;
}

@media only screen and (max-width: 767px) {
  .signuppanel {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 15%;
  }
}

/* foter */
.footer {
  margin-top: 142px;
  margin-bottom: 0;
  background-color: #e7e7e7;
  text-align: center;
  font-weight: 900;
  color: #777;
  box-shadow: 5px 5px 50px #9b9292;
}

@media only screen and (max-width: 360px) {
  .footer {
    margin-top: 160px;
    margin-bottom: 0;
    background-color: #e7e7e7;
    text-align: left;
  }
}

/* instructions panel */
.instructionpanel {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  box-shadow: 6px 9px 20px 0px;
}

@media only screen and (max-width: 767px) {
  .instructionpanel {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 14%;
  }
}

/* test panel */
.testpanel {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
  box-shadow: 6px 9px 20px 0px;
}

@media only screen and (max-width: 767px) {
  .testpanel {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 767px) {
  .testsubbut {
    margin-top: 8%;
  }
}
